.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.definition {
  max-width: 500px;
  border: solid black 2px;

}

.content {
  margin: 30px auto;
}

.comment-section{
  display: flex;
  flex-direction: column; 
  max-width: 500px; 
  margin: 0 auto; 
}
