.result-container {
  display:flex;
  flex-flow: row wrap; 
  justify-content: center; 
  margin-bottom: 50px; 
}

.results-header {
  color: rgb(4, 57, 31); 
  margin-top: 50px; 
  font-weight: bold;
  font-size: 30px; 
}

.percentage-header {
  color: rgb(4, 57, 31);
  font-size: 30px; 
}

svg {
  height: 80%; 
}