.result-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr;  */

  display:flex;
  flex-flow: row wrap; 
  justify-content: center; 
}

.results-header {
  color: red; 
}

.percentage-header {
  color: rgb(59, 59, 136);
}
